doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
        include ../includes/style
    body
        block content
        //block 块，方任意的html代码
        include ../includes/script
